version: "3.8"
services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: n8n
      POSTGRES_PASSWORD: n8n
      POSTGRES_DB: n8n
    volumes:
      - postgres_data:/var/lib/postgresql/data

  n8n:
    image: n8nio/n8n:latest
    depends_on:
      - postgres
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_USER=n8n
      - DB_POSTGRESDB_PASSWORD=n8n
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin
      - GENERIC_TIMEZONE=UTC
    ports:
      - "5678:5678"
    volumes:
      - ./orchestrator:/home/node/.n8n
    
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "bash", "-c", "nc -z localhost 9092"]
      interval: 10s
      timeout: 5s
      retries: 10

  # input_service:
  #   build: ./services/input_service
  #   depends_on:
  #     kafka:
  #       condition: service_healthy
  #   volumes:
  #     - ./services/input_service:/app
  #   command: ["python", "main.py"]

  periodic_input_service:
    build: ./services/periodic_input_service
    depends_on:
      kafka:
        condition: service_healthy
    volumes:
      - ./services/periodic_input_service:/app
    command: ["python", "main.py"]

  normalization_service:
    build:
      context: ./services/normalization_service
    container_name: normalization_service
    depends_on:
      - kafka
    environment:
      - KAFKA_BROKER=kafka:9092
      - RAW_TOPIC=raw_logs
      - NORMALIZED_TOPIC=normalized_logs
    volumes:
      - ./services/normalization_service:/app
    command: ["python", "main.py"]

volumes:
  postgres_data:
